@media only screen and (max-width: 500px) {
    .container {
        width: 95%;
    }
    nav {
        padding: 0px 5px !important;
    }
}

* {
    color: white;
}

body {
    background: #121212;
    color: white;
}

nav {
    padding: 0px 20px;
}

nav img {
    height: 100%;
    padding: 5px;
}

.headline {
    line-height: 200%;
    padding-left: 10px;
}

.custom_badge {
    background: rgba(255, 255, 255, 0.07);
    padding: 2px 7px;
    border-radius: 5px;
    white-space: nowrap;
}

.vert-padding {
    margin-top: 8px !important;
    padding: 2px 8px;
    border-radius: 5px;
}

.card {
    border-radius: 5px;
    overflow: hidden;
}

.row .col {
    padding-top: 4px;
    padding-bottom: 4px;
}

@media only screen and (max-width: 600px) {
    h4 {
        font-size: clamp(17px, 4vw, 4vw);
    }   
}
@media only screen and (min-width: 601px) {
    .vplan-wrapper {
        max-width: 100%
    }
}

.col .card {
    margin: 0;
}

.evenly-spaced {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.evenly-spaced a {
    margin-right: unset;
}

.same-width {
    width: calc(62vw / 5);
}

.same-width, .same-width span {
    font-size: 14px;
}

.lesson-time .time {
    font-size: 12px;
}

.desktop-view .lesson-time {
    height: calc((31px) * 4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.desktop-view .lesson-time span {
    font-size: 2rem;
}

.changed {
    outline:#BB86FC solid 7px !important;
    outline-offset: -1px;
    border-radius: 1px;
    background-color: #BB86FC !important;
    text-align: center;
    font-weight: 600 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    outline:rgba(255, 255, 255, 0.08) solid 6px;
    border-radius: 1px;
    background-color: rgba(255, 255, 255, 0.08);
    text-align: center;
}

.link a {
    color: white;
}

.link:hover {
    color: hsl(267, 75%, 56%) !important
}

#home-lettering {
    font-size: 3rem;
}

.card-content.mobile-view {
    padding: 5px 10px;
}

.card-content.desktop-view {
    padding: 5px 10px;
}

.desktop-alignment {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.halfway-split {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.halfway-split div {
    width: 50%;
}

.desktop-view .row {
    margin: 0;
}

.desktop-view {
    padding: 10px;
}

.mobile-cancellation {
    width: 58vw;
}

.desktop-cancellation {
    height: calc((31px + 6px) * 2);
}

.align-sideways {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;
}

.lesson-time {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dp01 {
    background: rgba(255, 255, 255, 0.05);
}
.dp02 {
    background: rgba(255, 255, 255, 0.07);
}
.dp03 {
    background: rgba(255, 255, 255, 0.08);
}
.dp04 {
    background: rgba(255, 255, 255, 0.09);
}
.dp06 {
    background: rgba(255, 255, 255, 0.1);
}
.dp08 {
    background: rgba(255, 255, 255, 0.12);
}
.dp12 {
    background: rgba(255, 255, 255, 0.14);
}

.floating-arrow  {
    position: fixed;
    bottom: 0;
    width: 60px;
    aspect-ratio: 1;
    border: none;
    border-radius: 100%;
    background-color: #BB86FC;
    transition: background-color 200ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.floating-arrow span {
    color: black !important;
    font-size: 2rem;
    line-height: 2rem;
}

.floating-arrow:hover, .floating-arrow:active, .floating-arrow:focus {
    background-color: #BB86FC;
}

.arrow-left {
    left: 0;
    transform: translate(20%, -20%);
}
.arrow-right {
    right: 0;
    transform: translate(-20%, -20%);
}

.bottom-spacer {
    height: 100px;
}