{% extends 'base.html' %}

{% block title %}Über uns{% endblock %}

{% block content %}
<div class="row">
    <p class="flow-text col s12">
        Wir sind zwei Nerds, die sich dachten, dass der VpMobil24-App einige wichtige Features fehlen. Also haben wir diese Website mit den fehlenden Features programmiert. Offensichtlich ist sie nicht perfekt, über Vorschläge für Features und Design freuen wir uns immer! Schreibt uns dafür einfach auf Discord, unsere Tags stehen unter unseren Profilbildern. 
    </p>
    {% for dev in devs %}
    <div class="col s12 m6 dev-wrapper">
        <img src="{{ dev.pfp }}" class="about-pfp unselectable">
        <h4>{{ dev.name }}</h4>
        <a href="{{ dev.bereal_link }}" target="_blank"><h3>BeReal</h3></a>
    </div>
    {% endfor %}
    <p class="flow-text col s12">
        Man kann uns auch per Mail unter <a href="mailto:elanus4506@gmail.com">elanus4506@gmail.com</a> erreichen.
    </p>
</div>
{% endblock %}

{% block preferences %}{% endblock %}
{% block change_day %}{% endblock %}