{% extends 'base.html' %}

{% block title %}Schul-Login{% endblock %}

{% block content %}
<form method='POST'>
    <div class="row">
        {% if errors %}<span class="error-popup col">{{ errors }} <button onclick="this.parentNode.remove();">X</button></span>{% endif %}
        <div class="input-field col s12">
            <input id="username" name="username" type="text" class="validate">
            <label for="username">Nutzername</label>
        </div>
        <div class="input-field col s12">
            <input id="pw" name="pw" type="password" class="validate">
            <label for="pw">Passwort</label>
        </div>
        <input type='submit' name='submit' value="Login" class="btn waves-effect login-btn">
        <p class="col s12">Die Nutzerdaten sind dieselben wie in der VpMobil24-App</p>
    </div>
</form>
{% endblock %}

{% block preferences %}{% endblock %}
{% block change_day %}{% endblock %}