<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="icon" href="https://bere.al/favicon.ico">-->
    <link rel="icon" href="{{ url_for('static', filename='images/better_vp.svg') }}">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/better_vp.svg') }}">
    <title>Better VPlan - {% if plan_type %}{{ plan_type }} {{ plan_value }}{% else %}Startseite{% endif %}</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet" type="text/css">
    {% block links %}

    {% endblock %}
</head>
<body>
    <nav class="dp02">
        <div class="nav-wrapper">
            <a href="/">
                <span id="home-lettering">Home</span>
            </a>
            <ul id="nav-bar" class="right hide-on-med-and-down">
                <li><a href="/today">TODO</a></li>
            </ul>
        </div>
    </nav>
    
    <div class="container">
        <h4 class="headline">{% if plan_type %}
            Plan für {{ plan_type }} <span class='custom_badge'>{{ plan_value }}</span> am <span class='custom_badge'>{{ date }}</span>
        {% else %}Startseite{% endif %}</h4>
        {% block content %}{% endblock %}
    </div>
    
</body>
</html>