
<div class="row vplan-wrapper">
    <h4 class="headline">Freie Räume am <span class='custom_badge'>{{ date }}</span></h4>
    <ul class="collapsible col s12">
    {% for lesson in lessons %}
        <li {% if default_lesson == loop.index or (loop.index == lessons|length and default_lesson > lessons|length) %}class="active"{% endif %}>
            <div class="collapsible-header dp01">{{ loop.index }}. Block</div>
            <div class="collapsible-body" {% if default_lesson == loop.index or (loop.index == lessons|length and default_lesson > lessons|length) %}style="display: block;"{% endif %}>
                <div class="row">
                {% for room in lesson %}
                    <div class="col s6 m3 xl2"><button onclick="selected_type='room';selected_value='{{ room }}';get_plan();" class="modal-close modal-selection-btn btn dp01 waves-effect">{{ room }}</button></div>
                {% endfor %}
                </div>
            </div>
        </li>
    {% endfor %}
    </ul>
    <span class="col s12 timestamp_data">Stand der Daten: <span class='custom_badge'>{{ timestamp }}</span></span>
    <div class="col s12 bottom-spacer"></div>
</div>