{% extends 'base.html' %}

{% block content %}
{% if school_name %}
    <div class="row plan_picker">
        <div class="col s6 l3">
            <div class="plan_picker_btn dp01 waves-effect">
                <span class="material-symbols-outlined">calendar_month</span>
                <span id="selected_time">02.03.2005</span>
            </div>
            
        </div>
        <div class="col s6 l3">
            <div class="plan_picker_btn dp01 waves-effect">
                <span class="material-symbols-outlined">school</span>
            </div>
        </div>
        <div class="col s6 l3">
            <div class="plan_picker_btn dp01 waves-effect">
                <span class="material-symbols-outlined">location_on</span>
            </div>
        </div>
        <div class="col s6 l3">
            <div class="plan_picker_btn dp01 waves-effect">
                <span class="material-symbols-outlined">grade</span>
            </div>
        </div>
    </div>
    <br>
    {% for date in dates %}
        {{ date.0 }}
        {{ date.1 }} <br>
    {% endfor %}
    <br>
    {% for teacher in teachers %}
        {{ teacher.kuerzel }}
        {% if teacher.name %}
            {{ teacher.name }}
        {% endif %}
        <br>
    {% endfor %}
    <br>
    {% for room in rooms %}
        {{ room }} <br>
    {% endfor %}
    <br>
    {% for klasse in klassen %}
        {{ klasse }} <br>
    {% endfor %}
    <br>
{% else %}
<!-- Diese Meldung sollte niemals angezeigt werden weil das Backend den Fall verhindert (hoffentlich) -->
<h4>Die angegebene Schule konnte nicht gefunden werden. Versuche es bitte erneut.</h4>
{% endif %}
{% endblock %}

{% block change_day %}{% endblock %}
{% block scripts %}
{{ smth_vorangezeigt }}
<script>
    const vorangezeigt = {{ var_vorangezeigt }};
    const angefragt_link = "{{ var_angefragt_link|safe }}";
</script>
{% endblock %}