{% extends 'base.html' %}

{% block links %}
<script>
    const school_number = "{{ school_number }}";
    const vorangezeigt = {{ var_vorangezeigt }};
    const angefragt_link = "{{ var_angefragt_link|safe }}";
    const default_date = "{{ default_date.0 }}";
    var available_dates = [{% for date in dates %}"{{ date.0 }}",{% endfor %}];
    
    var selected_date = "{{ default_date.0 }}";
    var selected_type;
    var selected_value;
</script>
<script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
{% endblock %}

{% block content %}
<div class="row plan_picker">
    <!-- Datum -->
    <div class="col s6 l3">
        <button class="plan_picker_btn dp01 waves-effect datepicker" tabindex="0">
            <span class="material-symbols-outlined">calendar_month</span>
            <span id="selected_time">{{ default_date.1 }}</span>
        </butt>
    </div>
    <!-- Lehrer -->
    <div class="col s6 l3">
        <button data-target="teacher-picker-modal" class="plan_picker_btn dp01 waves-effect modal-trigger" tabindex="0">
            <span class="material-symbols-outlined">school</span>
        </button>
    </div>
    <div id="teacher-picker-modal" class="modal">
        <div class="modal-content">
            <h4>Lehrer auswählen</h4>
            <div class="row">
                {% for teacher in teachers %}
                    <div class="col s12 m6 xl4"><button onclick="selected_type='teacher';selected_value='{{ teacher.kuerzel }}';get_plan();" class="modal-close modal-selection-btn btn dp01 waves-effect">{% if teacher.name %}{{ teacher.anrede }} {{ teacher.name }}{% else %}{{ teacher.kuerzel }}{% endif %}</button></div>
                {% endfor %}
            </div>
        </div>
        <div class="modal-footer">
            <button class="modal-close waves-effect btn-flat">Fertig</button>
        </div>
    </div>
    <!-- Raum -->
    <div class="col s6 l3">
        <button data-target="room-picker-modal" class="plan_picker_btn dp01 waves-effect modal-trigger" tabindex="0">
            <span class="material-symbols-outlined">location_on</span>
        </button>
    </div>
    <div id="room-picker-modal" class="modal">
        <div class="modal-content">
            <h4>Raum auswählen</h4>
            <div class="row">
                {% for room in rooms %}
                    <div class="col s6 m3 xl2"><button onclick="selected_type='room';selected_value='{{ room }}';get_plan();" class="modal-close modal-selection-btn btn dp01 waves-effect">{{ room }}</button></div>
                {% endfor %}
            </div>
        </div>
        <div class="modal-footer">
            <button class="modal-close waves-effect btn-flat">Fertig</button>
        </div>
    </div>
    <!-- Klasse -->
    <div class="col s6 l3">
        <button data-target="class-picker-modal" class="plan_picker_btn dp01 waves-effect modal-trigger" tabindex="0">
            <span class="material-symbols-outlined">grade</span>
        </button>
    </div>
    <div id="class-picker-modal" class="modal">
        <div class="modal-content">
            <h4>Klasse auswählen</h4>
            {% for klassenstufe in klassen %}
            <div class="row">
                {% for klasse in klassenstufe %}
                <div class="col s6 m3 xl2"><button onclick="selected_type='klasse';selected_value='{{ klasse }}';get_plan();" class="modal-close modal-selection-btn btn dp01 waves-effect">{{ klasse }}</button></div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <div class="modal-footer">
            <button class="modal-close waves-effect btn-flat">Fertig</button>
        </div>
    </div>
    <div class="col s12">
        <button class="dp01 waves-effect plan_picker_btn free_room_btn" tabindex="0" onclick="selected_type='free_rooms';selected_value='';get_plan()">
            <span class="material-symbols-outlined">door_open</span>
        </button>
    </div>
</div>
<div class="loaded_content">
</div>
{% endblock %}

{% block change_day %}{% endblock %}