{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<form method='POST'>
    <div class="row">
        {% if errors %}<span class="error-popup col">{{ errors }} <button onclick="this.parentNode.remove();">X</button></span>{% endif %}
        <div class="input-field col s12">
            <input id="nickname" name="nickname" type="text" class="validate" minlength="3" maxlength="15">
            <label for="nickname">Nutzername</label>
        </div>
        <div class="input-field col s12">
            <input id="pw" name="pw" type="password" class="validate" minlength="1">
            <label for="pw">Passwort</label>
            <a href="javascript:alert('Verkackt :D (aber actually können wir da nichts machen, erstell einfach einen neuen Account)')">Passwort vergessen?</a><br>
        </div>
        <input type='submit' name='submit' value="Login" class="btn waves-effect login-btn">
        <p class="col s12">Noch kein Account? <a href="{{ url_for('signup') }}">Registrieren</a></p>
    </div>
</form>
{% endblock %}

{% block change_day %}{% endblock %}