{% extends 'base.html' %}

{% block content %}
<div class="row">
    {% for lesson in plan %}
    {% if lesson.spacer %}
    <div class="col s12"></div>
    {% endif %}
        <div class="col s12 m6">
            <div class="card dp01">
                <div class="card-content hide-on-small-only">
                    <span class="card-title">Stunde {{ lesson.lesson }} (TIME)</span>
                    <p><b>Fach</b>: {{ lesson.subject }} {% if lesson.subject == "---" %}({{ lesson.subject_name }} fällt aus){% endif %}</p>
                    <p><b>Lehrer</b>: {{ lesson.teacher }}</p>
                    <!--@OFFICIALFREAK TODO:-->
                    <!--(those are bools)-->
                    <!--{{ lesson.subject_changed }}-->
                    <!--{{ lesson.teacher_changed }}-->
                    <!--{{ lesson.room_changed }}-->
                    <p><b>Raum</b>: {{ lesson.room }}</p>
                    <p><b>Klasse</b>: {{ lesson.class }}</p>
                    {% if lesson.info != "--" %}<p><b>Informationen</b>: {{ lesson.info }}</p>{% endif %}
                </div>
                <div class="card-content hide-on-med-and-up mobile-view">
                    <div class="align-sideways">
                        <div class="lesson-time same-width">
                            <span>{{ lesson.lesson }}</span>
                            <span>{{ lesson.begin }} <!-- {{ lesson.end }} --></span>
                        </div>
                        {% if lesson.subject != "---" %}
                        <div class="same-width {% if lesson.subject_changed %}changed{% endif %}">{{ lesson.subject }}</div>
                        <div class="same-width link {% if lesson.teacher_changed %}changed{% endif %}"><a href="{{ lesson.teacher_link }}"><b>{{ lesson.teacher }}{% if not lesson.teacher %}​{% endif %}</b></a></div>
                        <div class="same-width link {% if lesson.room_changed %}changed{% endif %}"><a href="{{ lesson.room_link }}">{{ lesson.room }}{% if not lesson.room %}​{% endif %}</a></div>
                        <div class="same-width link"><a href="{{ lesson.class_link }}">{{ lesson.class }}</a></div>
                        {% else %}
                        <div class="same-width {% if lesson.subject_changed %}changed{% endif %}" style="width: 46vw;">X</div>
                        <div class="same-width link"><a href="{{ lesson.class_link }}">{{ lesson.class }}</a></div>
                        {% endif %}
                    </div>
                    {% if (lesson.info != "--") and (lesson.info != "") %}
                    <p class="vert-padding dp01">{{ lesson.info }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="col s12 bottom-spacer"></div>
</div>
{% endblock %}