<div class="row vplan-wrapper">
    <h4 class="headline">{% if plan_type %}
        Plan für {{ plan_type }} <span class='custom_badge'>{{ plan_value }}</span> am <span class='custom_badge'>{{ date }}</span>
    {% else %}{% block title %}Startseite{% endblock %}{% endif %}</h4>
    {% for lesson in plan %}
        {% if lesson.spacer %}
        <div class="col s12"></div>
        {% endif %}
        <div class="col s12 hide-on-med-and-up">
            <div class="card dp01">
                <div class="card-content mobile-view">
                    <div class="align-sideways">
                        <div class="lesson-time same-width">
                            <span>{{ lesson.lesson }}</span>
                            <span class="time">{{ lesson.begin }} <!-- {{ lesson.end }} --></span>
                        </div>
                        {% if lesson.subject != "---" %}
                        <div class="same-width {% if lesson.subject_changed %}changed{% endif %}">{{ lesson.subject }}{% if not lesson.subject %}​{% endif %}</div>
                        <div class="same-width link {% if lesson.teacher_changed %}changed{% endif %}"><a href="{{ lesson.teacher_link }}"><b>{{ lesson.teacher }}{% if not lesson.teacher %}​{% endif %}</b></a></div>
                        <div class="same-width link {% if lesson.room_changed %}changed{% endif %}"><a href="{{ lesson.room_link }}">{{ lesson.room }}{% if not lesson.room %}​{% endif %}</a></div>
                        {% else %}
                        <div class="same-width changed mobile-cancellation" {% if plan_type == "Klasse" %}style="flex: 1;margin-left: 20px;"{% endif %}>X</div>
                        {% endif %}
                        {% if plan_type != "Klasse" %}<div class="same-width link"><a href="{{ lesson.class_link }}">{{ lesson.class }}</a></div>{% endif %}
                    </div>
                    {% if (lesson.info != "--") and (lesson.info != "") %}
                        <p class="vert-padding dp01">{{ lesson.info }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col s12 hide-on-small-only">
            <div class="card dp01">
                <div class="card-content desktop-view">
                    <div class="row" style="display: flex;">
                        <div class="lesson-time col s2 l1">
                            <span class="time">{{ lesson.begin }}</span>
                            <span>{{ lesson.lesson }}</span>
                            <span class="time">{{ lesson.end }}</span>
                        </div>
                        <div class="col s10 l11 desktop-alignment">
                            {% if lesson.subject != "---" %}
                            <div class="desktop-subject{% if lesson.subject_changed %} changed{% endif %}">{{ lesson.subject }}{% if not lesson.subject %}​{% endif %}</div>
                            <div class="halfway-split">
                                <button href="{{ lesson.teacher_link }}" class="link{% if lesson.teacher_changed %} changed{% endif %}"><b>{{ lesson.teacher }}{% if not lesson.teacher %}​{% endif %}</b></button>
                                <button href="{{ lesson.room_link }}" class="link{% if lesson.room_changed %} changed{% endif %}">{{ lesson.room }}{% if not lesson.room %}​{% endif %}</button>
                            </div>
                            {% else %}
                            <div class="changed desktop-cancellation">X</div>
                            {% endif %}
                            {% if plan_type != "Klasse" %}<a href="{{ lesson.class_link }}" class="link">{{ lesson.class }}</a>{% endif %}
                        </div>
                    </div>
                    {% if (lesson.info != "--") and (lesson.info != "") %}
                        <p class="vert-padding dp01 flow-text">{{ lesson.info }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="col s12">
        <p class="flow-text">
        {% for elem in zusatzinfo %}
            {{ elem }} <br>
        {% endfor %}
        </p>
    </div>
    <div class="col s12 bottom-spacer"></div>
</div>