{% extends 'base.html' %}

{% block title %}Registrieren{% endblock %}

{% block content %}
<form method='POST'>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div class="row">
        {% if errors %}<span class="error-popup col">{{ errors }} <button onclick="this.parentNode.remove();">X</button></span>{% endif %}
        <div class="input-field col s12">
            <input id="nickname" name="nickname" type="text" class="validate" minlength="3" maxlength="15">
            <label for="nickname">Name</label>
        </div>
        <div class="input-field col s12">
            <input id="pw" name="pw" type="password" class="validate" minlength="10">
            <label for="pw">Passwort</label>
        </div>
        <label class="col s12 password-checkbox">
            <input type="checkbox" onclick="togglePasswordVisibility()">
            <span>Passwort anzeigen</span>
        </label>
        <p class="col s12">Mit dem Registrieren akzeptierst du alle unbedingt erforderlichen Cookies.</p>
        <input type='submit' name='submit' value="Registrieren" class="btn waves-effect login-btn">
    </div>
</form>
{% endblock %}

{% block change_day %}{% endblock %}