{% extends 'base.html' %}

{% block title %}Registrieren{% endblock %}

{% block content %}
<form method='POST'>
    <div class="row">
        {% if errors %}<span class="error-popup col">{{ errors }} <button onclick="this.parentNode.remove();">X</button></span>{% endif %}
        <div class="input-field col s12">
            <input id="nickname" name="nickname" type="text" class="validate">
            <label for="nickname">Name</label>
        </div>
        <div class="input-field col s12">
            <input id="pw" name="pw" type="password" class="validate">
            <label for="pw">Passwort</label>
        </div>
        <label class="col s12 password-checkbox">
            <input type="checkbox" onclick="togglePasswordVisibility()">
            <span>Passwort anzeigen</span>
        </label>
        <input type='submit' name='submit' value="Registrieren" class="btn waves-effect login-btn">
    </div>
</form>
<script>
    function togglePasswordVisibility() {
        let x = document.getElementById("pw");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>
{% endblock %}

{% block change_day %}{% endblock %}